<!DOCTYPE html>
<html lang="en" ng-app="maritimeDiceApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="page.css" rel="stylesheet">
  <link href="vendor/leaflet/dist/leaflet.css" rel="stylesheet">
  <link href="vendor/angular-material/angular-material.css" rel="stylesheet">
</head>

<body ng-controller="MainController as hackathon">

  <div class="alert alert-danger" ng-hide="connected" role="alert">
    <b>Nicht verbunden!</b> Eine Verbindung zum Game-Server war leider nicht möglich.
    <button class="btn btn-xs btn-danger pull-right" ng-click="manualReconnect()">
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Neu verbinden
    </button>
  </div>

 <!-- side nav bar -->
    <md-sidenav class="md-sidenav-right" md-component-id="right" md-disable-backdrop md-whiteframe="8">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Game Options</h1>
      </md-toolbar>
      <md-content layout-margin>
        <div layout="column" layout-padding ng-cloak>
          <br/>
          <md-content class="md-no-momentum">
            <div ng-if="!currentGame && guestId >= 0">
              <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Your Name</label>
                <input ng-model="guestName">
              </md-input-container>
              <md-button ng-click="connectGuest()">Verbinden!</md-button>
            </div>
            <div ng-if="!currentGame && !guestId">
              <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Ports</label>
                <input ng-model="numPorts" type="number">
              </md-input-container>
              <md-input-container md-no-float class="md-block">
                <label>Credit Amount</label>
                <input ng-if="connected" ng-model="numCredit" type="number" placholder="1" min="1" max="100">
              </md-input-container>
            </div>
            <div ng-if="currentGame.State == 'created'">
              <p>Waiting for participants ...</p>
              <ul>
                <li ng-repeat="p in currentGame.Participants track by p.Name">
                  {{ p.Name }}
                </li>
              </ul>
              <p><a href="{{ getGameLinkTarget(currentGame) }}">Link to invite others</a></p>
            </div>
            <div ng-if="currentGame.State == 'simulating'">
              <p>You are <strong>{{ ownId() }}</strong></p>
              <p ng-if="selctedStackId >= 0">
                Stack {{ selectedStackId }} at {{ selectedStack().currentPortId }}
              </p>
              <md-card ng-repeat="port in currentGame.Ports track by port.Name">
                <md-card-title-text>
                  <span class="md-headline">{{port.Name}}</span>
                  <span class="md-subhead">{{port.OwnerId}}</span>
                </md-card-title-text>
                </md-card-title>
              </md-card>
            </div>
            <div ng-if="!guestId && (!currentGame || currentGame.State == 'created' || currentGame.State == 'started')">
              <md-input-container>
                <md-button ng-click="fetch()">Ports</md-button>
              </md-input-container>
              <md-input-container>
                <md-button ng-click="start()">{{toggleText}}</md-button>
              </md-input-container>
            </div>
          </md-content>
        </div>
      </md-content>
    </md-sidenav>

    <leaflet bounds="map.bounds" paths="paths" lf-center="map.center" width="100%" height="100vh" markers="ports"></leaflet>

    <!-- ES6 Shims -->
    <script src="/vendor/es6-shim/es6-shim.min.js"></script>

    <!-- Leaflet -->
    <script src="/vendor/leaflet/dist/leaflet.js"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/vendor/angular-animate/angular-animate.min.js"></script>
    <script src="/vendor/angular-aria/angular-aria.min.js"></script>
    <script src="/vendor/angular-messages/angular-messages.min.js"></script>

    <!-- Leaflet bindings for angular -->
    <script src="/vendor/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>

    <!-- Angular Material Library -->
    <script src="/vendor/angular-material/angular-material.min.js"></script>

    <!-- Own source -->
    <script src="/page.js"></script>
</body>

</html>
