.playerOne{
  background-color: red;
}

.playerTwo{
  background-color: green;
}

.listPort{
  text-align: left;
  margin-left: -25px;
}

.leaflet-div-icon {
    background: rgba(0,0,0,0) !important;
    border: 1px solid rgba(0,0,0,0) !important;
}

.leaflet-div-icon h4 {
    margin-bottom: 2px;
}

.leaflet-div-icon ul {
    margin-top: 2px;
}